.container {
  display: flex;
}

.box {
  margin: 20px;
}

.right {
  margin-left: auto;
}

.moduleCardContainer {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}

.moduleCard {
  margin: 10px;
}