.container {
  display: flex;
}

.box {
  margin: 20px;
}

.right {
  margin-left: auto;
}

.moduleCardContainer {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}

.moduleCard {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 16px;
  width: 220px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

.links {
  margin: 20px;
  text-decoration: none;
  color: inherit;
}

/*CSS for the toggle button*/
.toggleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 12px 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(22px);
}