@import url('https://fonts.cdnfonts.com/css/helvetica-255');
@import url('https://fonts.cdnfonts.com/css/bricolage-grotesque');

.container {
  display: flex;
}

.right {
  margin-left: auto;
}

.mid-section {
  background-color: #004aad;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 3%;
  width: 97%;
  font-family: "Bricolage Grotesque";
}

.mid-section-title {
  margin: 0px;
  font-size: 35px;
}

.mid-section-content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Helvetica";
}