@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.center-align {
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Rubik";
}

.email-row {
    height: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.email-row label {
    display: inline-block;
    width: 100px;
}

.input-email {
    height: inherit;
    width: 200px;
}

.password-row {
    height: 20px;
    padding-left: 50px;
    padding-bottom: 0px;
}

.password-row label {
    display: inline-block;
    width: 100px;
}

.input-password {
    height: inherit;
    width: 200px;
}

.forgot-password {
    color: grey;
    opacity: 0.8;
    margin-left: 20px;
}

.forgot-password:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.register-text {
    color: blue;
    text-decoration: underline;
    margin: 0px;
    margin-bottom: 20px;
}

.register-text:hover {
    cursor: pointer;
}

.or {
    margin: 0px;
}

.rounded-button {
    border-radius: 8px;
    border: 1px solid rgb(176, 176, 176);
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    font-family: inherit;
    font-size: 17px;
    height: 40px;
}

.rounded-button:hover {
    cursor: pointer;
    background-color: rgb(165, 221, 255);
    border: 1px solid rgb(130, 207, 255);
}

.logo {
    width:200px;
    height:400x;
    margin-bottom: 30px;
}

.error-msg {
    color: red;
    margin-bottom: 0px;
}
