.center-align {
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.email-row {
    padding-left: 50px;
}

.password-row {
    padding-left: 50px;
}

.forgot-password {
    color: grey;
    opacity: 0.8;
    margin-left: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

.register-text {
    color: blue;
    text-decoration: underline;
    margin: 0px;
    margin-bottom: 0px;
}

.register-text:hover {
    cursor: pointer;
}

.or {
    margin: 0px;
}

.rounded-button {
    border-radius: 8px;
    border-width: 1px;
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

.rounded-button:hover {
    cursor: pointer;
}

.logo{
    width:200px;
    height:400x;
    margin-bottom: 30px;
}

.input-email {
    margin-left: 48.5px;
}

.input-password{
    margin-left: 20px;
}
