.container {
    display: flex;
}

.box {
    margin-left: 5px;
    margin-right: 5px;

}

.right {
    margin-left: auto;
}

button {
    width: 30px;
}

#modules {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}