@import url('https://fonts.cdnfonts.com/css/ds-digital');

.lcd-text {
  font-family: "DS-Digital", monospace;
  margin: 20px;
}

.calculatorContainer {
  border: 3px solid black;
  border-radius: 5vw;
  margin: 5vh;
  min-width: 1000px;
  padding: 2%;
}

.CAPValue {
  border: 3px solid black;
  border-radius: 20px;
  margin: 2vh 0;
  margin-bottom: 10px;
  text-shadow: 
    0 0 5px #00ff00,
    0 0 10px #00ff00,
    0 0 20px #00ff00;
  background-color: #4CAF50;
  font-size: 2rem;
}

.numSUInput {
  width: 1.8em;
  margin-left: 0.5vw;
}

.gridContainer {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}

.calc-button {
  background-color: white;
  border: 3px solid black;
  border-radius: 1.5em;
  padding: 1em;
  min-width: 10vw;
  margin: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  font-family: sans-serif;
}

.calc-input {
  height: 20px;
}

.moduleCard {
  height: 200px;
}

.modSelector {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 12vw;
  min-width: 140px;
  height: 25px;
}

.gradeSelector {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
}

.toggle-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-desc {
  display: inline-block;
  width: 40px;
  text-align: right;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(22px);
}

#addModButton {
  height: 170px;
  padding: 16px;
  min-width: 100px;
  margin: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 100px;
  border: none;
  background-color: inherit;
}

#addModButton:hover {
  cursor: pointer;
  color: #004aad;
}