@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.lcd-text {
  font-family: "DS-Digital", monospace;
  margin: 20px;
}

.calculator-container {
  border: 2px solid rgb(130, 130, 130);
  border-radius: 5vw;
  margin: 5vh;
  min-width: 1000px;
  padding: 2%;
  font-family: "Rubik";
  background-color: rgb(236, 236, 236);
}

.brand-label {
  margin: 0px;
  margin-left: 30px;
}

.cap-container {
  border-bottom: 1.5px solid rgb(130, 130, 130);
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.CAPValue {
  border: 2px solid #028d04;
  border-radius: 20px;
  margin: 2vh 0;
  text-shadow: 
    0 0 5px #00ff00,
    0 0 10px #00ff00,
    0 0 20px #00ff00;
  background-color: #1ab11f;
  
  font-size: 2rem;
}

.num-su-input {
  background-color: rgb(237, 237, 237);
  border-color: white;
  width: 1.8em;
  margin-left: 5px;
  text-align: center;
}

.num-su-input::-webkit-inner-spin-button, 
.num-su-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-container {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}

.calc-button {
  background-color: rgb(215, 215, 215);
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0 1px 3px rgb(0, 0, 0);
  border-radius: 1.5em;
  padding: 1em;
  min-width: 10vw;
  margin: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

.calc-input-container {
  margin-bottom: 15px;
}

.calc-input {
  height: 20px;
  border-radius: 1em;
}

.module-card {
  height: 200px;
}

.mod-selector {
  background-color: rgb(237, 237, 237);
  border-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 12vw;
  min-width: 140px;
  height: 25px;
  font-family: inherit;
  text-align: center;
}

.grade-selector {
  background-color: rgb(237, 237, 237);
  border: 0px;
  margin: 5px;
  height: 30px;
  font-family: inherit;
}

.mc-input {
  background-color: rgb(237, 237, 237);
  border: 0px;
  margin: 5px;
  width: 25px;
  text-align: center;
}

.mc-input::-webkit-inner-spin-button, 
.mc-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toggle-row {
  display: inline-flex;  
  align-items: center;   
  height: 28px;  
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-desc {
  display: inline-block;
  margin-right: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: inherit;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #e9e9e9;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  height: inherit;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #39d13e;
}

input:checked + .slider::before {
  transform: translateX(22px);
}

.remove-button {
  font-family: inherit;
  margin-top: 5px;
  background-color: rgb(237, 237, 237);
  border: 0px;
  border-radius: 5px;
}

.remove-button:hover {
  cursor: pointer;
  background-color: rgb(252, 237, 237);
}

#addModButton {
  height: 170px;
  padding: 16px;
  min-width: 100px;
  margin: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 100px;
  border: none;
  background-color: inherit;
}

#addModButton:hover {
  cursor: pointer;
  color: #1aff44;
}