.filter-box {
    border-radius: 8px;
    background-color: white;
    margin-left: 1.5%;
}

.filter-container {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  border: 3px solid black;
  border-radius: 9999px;
  background-color: white;
  width: fit-content;
  margin: 20px auto;
}

.search-box {
    margin-left: 1%;
}

.modules-list{
    border: 1px solid;
    margin-left: 0.5%;
    margin-right: 45%;
}
