.filter-box {
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    width: 80px;
}

.filter-container {
  display: inline-flex;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1.5px solid black;
  padding: 10px;
  width: 18vw;
  min-width: 200px;
  justify-content: center;
}

.mod-search-box {
    margin: 20px;
    margin-left: 15px;
    height: 30px;
    width: 61vw;
}

.modules-list {
    margin-top: 30px;
}

.search-module-item {
    margin: 10px;
}

.pagination {
    margin-left: 20px;
}

.search-navigate {
    margin: 15px;
    border-radius: 5px;
    border: 0.5px solid black;
    min-width: 50px;
    min-height: 30px;
}

.search-navigate:hover {
    cursor: pointer;
}
