@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.timetable-container {
  font-family: "Rubik";
  width: 35vw;
  margin-left: 10px;
  margin-right: 10px;
}

.timetable {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  padding: 10px;
  width: inherit;
}

.day-column {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  margin-bottom: 10px;
}

.day-column h4 {
  border-radius: inherit;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 15px;
  background-color: rgb(230, 230, 230);
}

.lesson-container {
  display: flex;
  flex-wrap: wrap; 
  padding-bottom: 10px;
}

.lesson-block {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  width: 14vw;
  min-width: 120px;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}

.module-searchbar {
  font-family: inherit;
  margin: 15px;
  margin-left: 0px;
  width: inherit;
  height: 30px;
}

.searchbar-result {
  font-family: inherit;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  width: 100px;
}

.searchbar-result:hover {
  cursor: pointer;
  background-color: rgb(165, 221, 255);
}

.mod-slots-container h4 {
  margin-bottom: 10px;
}

.lesson-type-row {
  display: flex;
  margin-bottom: 10px;
  height: 25px;
}

.lesson-type {
  display: inline-block;
  width: 100px;
}

.slot-dropdown {
  width: 18vw;
  height: inherit;
  font-family: inherit;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.slot-button {
  font-family: inherit;
  border-radius: 5px; 
  width: 85px;
  height: inherit;
  margin-left: 10px;
  overflow: hidden;
}

.remove-button {
  margin-top: 0px;
  background-color: rgb(252, 228, 228);
  border: 2px solid rgb(253, 217, 217);
}

.remove-button:hover {
  background-color: rgb(253, 217, 217);
}

.add-button {
  margin-top: 0px;
  background-color: rgb(213, 255, 213);
  border: 2px solid rgb(189, 255, 189);
}

.add-button:hover {
  background-color: rgb(189, 255, 189);
}

.slot-button:hover {
  cursor: pointer;
}

.sync-container {
  font-family: "Rubik";
  margin-left: 20px;
}

.sync-container button {
  font-family: inherit;
  height: 30px;
  width: 130px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sync-container button:hover { 
  cursor: pointer;
  background-color: rgb(165, 221, 255);
}

.sync-button {
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}

.unsync-button {
  background-color: #b7e8ff;
  border: 1px solid rgb(165, 221, 255);
}