.timetable-container {
  width: 38vw;
  margin-left: 10px;
  margin-right: 10px;
}

.timetable {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: inherit;
}

.day-column {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.day-column h4 {
  border-radius: inherit;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  padding-bottom: 10px;
  background-color: rgb(230, 230, 230);
}

.lesson-container {
  display: flex;
  flex-wrap: wrap; 
  padding-bottom: 10px;
}

.lesson-block {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  width: 15vw;
  min-width: 120px;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}

.module-searchbar {
  margin: 15px;
  margin-left: 0px;
  width: inherit;
  height: 30px;
}

.searchbar-result {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  width: 100px;
}

.searchbar-result:hover {
  cursor: pointer;
  background-color: rgb(165, 221, 255);
}

.mod-slots-container h4 {
  margin-bottom: 10px;
}

.lesson-type-row {
  margin-bottom: 10px;
  height: 25px;
}

.lesson-type {
  display: inline-block;
  width: 85px;
}

.slot-dropdown {
  width: 18vw;
  height: inherit;
}

.slot-button {
  width: 135px;
  height: inherit;
  margin-left: 10px;
}

.slot-button:hover {
  cursor: pointer;
}

.sync-container button {
  height: 30px;
  width: 130px;
  margin-bottom: 10px;
}

.sync-container button:hover { 
  cursor: pointer;
}